.ReportFilterForm {
  margin-bottom: 2rem;

  &__heading {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  &__field {
    max-width: 16rem;
    margin: 0 0.5rem;
  }

  &__generateReportButton {
    min-width: 10rem;
  }
}

.reportTable {
  position: relative;
  overflow-x: auto;

  &__table {
    margin: 0;

    &__weekly {
      max-width: 10rem;
    }
  }

  &__body {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 25rem;

    &__weekly {
      padding-left: 10rem;
    }

    &__th {
      min-width: 6rem;
    }
  }

  &__sticky {
    position: sticky;
    left: 0.5rem;
    padding: 0;
    max-width: 24.5rem;
    font-weight: 700;
    background-color: mix(black, #161e26, 10%);

    &__weekly {
      max-width: 9.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -1rem;
      width: 1rem;
      height: 100%;
      display: block;
      background: var(--dark-blue);
    }
  }
}
