.addTeamForm {
  margin-bottom: 1rem;

  &__group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    margin-left: 1rem;
    min-width: 6rem;
  }
}
